.footer_item_active {
    animation: anim_navitem 1s;
}

@keyframes anim_navitem {
    0% {scale: 1; opacity: 1}
    33% {scale: .5; opacity: 1}
    66% {scale: 1.5; opacity: .1}
    100% {scale: 1; opacity: 1}
}

.cont_worklistpage {
    animation: anim_worklistpage 1s;
}

@keyframes anim_worklistpage {
    0% {margin-top: 100vh}
    100% {margin-top: 0}
}