.footer_item_active {
    animation: anim_navitem 1s;
}

@keyframes anim_navitem {
    0% {scale: 1; opacity: 1}
    33% {scale: .5; opacity: 1}
    66% {scale: 1.5; opacity: .1}
    100% {scale: 1; opacity: 1}
}

.cont_fixed {
    height: 100vh;
    animation: anim_cont_fixed 1s;
}

.cont_worklistpage {
    animation: anim_worklistpage 1s;
}

@keyframes anim_cont_fixed {
    0% {overflow: hidden;}
    100% {overflow: unset;}
}

@keyframes anim_worklistpage {
    0% {padding-top: 100vh}
    100% {padding-top: 0}
}

html {
    font-size: calc(100vw/428);
}

@media (min-width: 429px) {
    html {
        font-size: 1px;
    }
}